.main-chat
  .main-chat__group-info
    .main-chat__group-info__group-name
      グループネーム
      %ul.member-list
        Member：
        %li.member-list__name
          さいとう
        %li.member-list__name
          なかがみ
    .main-chat__group-info__edit-btn
      = link_to "#" do
        Edit

  .main-chat__message-list
    .main-chat__message-list__message-box
      %ul.message-date
        %li.message-date__user-name
          さいとう
          .message-date__user-name__date-time
            2020/08/10(mon) 18:13:02
        %li.message-date__message
          おはよう！
    .main-chat__message-list__message-box
      %ul.message-date
        %li.message-date__user-name
          なかがみ
          .message-date__user-name__date-time
            2020/08/10(mon) 18:13:02
        %li.message-date__message
          おはよう！
    .main-chat__message-list__message-box
      %ul.message-date
        %li.message-date__user-name
          さいとう
          .message-date__user-name__date-time
            2020/08/10(mon) 18:13:02
        %li.message-date__message
          おはよう！

  .main-chat__message-form
    %form.new-message
      .input-box
        %input{type: "text", class: "input-box__text", placeholder: "type a message" }
        %label{class: "input-box__image"}
          = icon('fas', 'image')
          %input{type: "file", class: "input-box__image__file"}
      %input{type: "submit", class: "submit-btn", value: "Send"}
