.main-chat__message-list__message-box{data: {message: {id: message.id}}}
  %ul.message-data
    %li.message-data__user-name
      = message.user.name
      .message-data__user-name__date-time
        = message.created_at.strftime("%Y年%m月%d日 %H時%M分")
    %li.message-data__message
      - if message.content.present?
        = message.content
      = image_tag message.image.url, class: 'Message__image' if message.image.present?