* {
  box-sizing: border-box;
}

.wrapper {
  display: flex;
  height: 100vh;
}

.side-bar {
  width: 300px;
  color: #ffffff;

  &__user-frame {
    background-color: #253141;
    height: 100px;
    display: flex;
    align-items: center;
    &__top-items {
      font-size: 16px;
      height: 20px;
      width: 260px;
      margin: 0 20px;
      display: flex;
      justify-content: space-between;
    }
      &__menu {
        width: 60px;
        display: flex;
        justify-content: flex-end;
        text-decoration: none;
        li {
          a {
            margin-left: 5px;
            font-size: 16px;
            color: #ffffff;
          }
        }
      }
  }

  &__group-frame {
    background-color: #2f3e51;
    height: calc(100vh - 100px);
    &__group-list {
      padding: 20px 20px 40px;
      a {
        color: #ffffff;
        text-decoration: none;
      }
      &__group-name {
        margin-bottom: 5px;
        font-size: 15px;
      }
      &__message {
        font-size: 11px;
      }
    }
  }
}

.main-chat {
  width: calc(100vw - 300px);
  &__group-info {
    background-color: #ffffff;
    height: 100px;
    border-bottom: 1px solid #eeeeee;
    display: flex;
    justify-content: space-between;
    &__group-name {
      color: #333333;
      font-size: 20px;
      margin: 35px 0 0 40px;
      ul {
        margin-top: 15px;
        font-size: 12px;
        color: #999999;
        display: flex;
        // メンバー同士のスパン
      }
    }
    &__edit-btn {
      font-size: 16px;
      height: 40px;
      border: 1px solid #38aef0;
      padding: 0 20px;
      margin: 28px 40px 0 0;
      display: flex;
      align-items: center;
      a {
        text-decoration: none;
        color: #38aef0;
      }
    }
  }
  &__message-list {
    background-color: #fafafa;
    height: calc(100vh - 190px);
    &__message-box {
      padding: 35px 0 0 40px;
      .message-date {
        &__user-name {
          display: flex;
          color: #333333;
          margin-bottom: 12px;
          font-size: 16px;
          // メンバーと日時のスパン
          &__date-time {
            color: #999999;
            font-size: 12px;
          }
        }
        &__message {
          color: #434A54;
          font-size: 14px;
          margin-bottom: 46px;
        }
      }
    }
  }
  &__message-form {
    background-color: #d2d2d2;
    height: 90px;
    padding: 20px 0 0 40px;
    form {
      display: flex;
      justify-content: space-between;
      .input-box {
        width: 100%;
        display: flex;
        position: relative;
        &__text {
          padding-left: 10px;
          height: 50px;
          width: 100%;
          display: flex;
        }
        &__image {
          position: absolute;
          top: 10px;
          right: 10px;
          &__file {
            display: none;
          }
        }
      }
      .submit-btn {
        height: 50px;
        background-color: #38aef0;
        color: #fff;
        padding: 0 30px;
        margin: 0 40px 0 15px;
        // 枠の有無、アイコンの大きさ
      }
    }
  }
}